body, html {
    height: 100%;
}

.bg-img {
    background-image: url("image/20200520_145451.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_color {
    background-color: #8BBDFF;
}
